/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
b,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ul#main-menu {
  display: flex;
  position: relative;
}
ul#main-menu a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 18px;
  font-family: "Futura";
}
ul#main-menu > li {
  padding: 10px 20px;
}
ul#main-menu > li a {
  position: relative;
}
ul#main-menu > li a:after {
  content: "";
  width: 0;
  height: 1px;
  position: absolute;
  bottom: -7px;
  background-color: white;
  left: 0;
}
ul#main-menu > li > ul {
  display: none;
  margin-top: 9px;
  padding-top: 20px;
  left: 0;
  right: 0;
  position: absolute;
}
ul#main-menu > li > ul > li {
  white-space: nowrap;
  padding: 10px 20px 10px 20px;
}
ul#main-menu > li:nth-child(3n) ul li {
  margin-left: 44%;
}
ul#main-menu > li:hover > a {
  position: relative;
}
ul#main-menu > li:hover > a:after {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: -7px;
  left: 0;
  background-color: white;
  transition: width 0.3s;
}
ul#main-menu > li:hover > ul {
  display: block;
}
@media screen and (max-width: 580px) {
  .menu-menu-1-container {
    display: none;
  }
  header.menu-open {
    background-color: #1c1c1c;
  }
  header.menu-open .menu-menu-1-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0px;
    min-height: 100vh;
    margin-left: 0;
    display: block;
    background-color: #1c1c1c;
    padding-bottom: 100px;
  }
  header.menu-open .menu-menu-1-container ul#main-menu {
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    margin-left: 44%;
    flex-direction: column;
  }
  header.menu-open .menu-menu-1-container ul#main-menu li {
    border-top: 1px solid white;
  }
  header.menu-open .menu-menu-1-container ul#main-menu > li {
    padding: 30px 0px;
  }
  header.menu-open .menu-menu-1-container ul#main-menu > li a {
    padding-left: 20px;
  }
  header.menu-open .menu-menu-1-container ul#main-menu > li a:after {
    display: none;
  }
  header.menu-open .menu-menu-1-container ul#main-menu > li:first-child:hover {
    padding-bottom: 0;
  }
  header.menu-open .menu-menu-1-container ul#main-menu > li:nth-of-child(3n):hover {
    padding-bottom: 0;
  }
  header.menu-open .menu-menu-1-container ul#main-menu > li > ul {
    position: unset;
  }
  header.menu-open .menu-menu-1-container ul#main-menu > li > ul > li {
    padding: 10px 0px;
  }
  header.menu-open .menu-menu-1-container ul#main-menu > li > ul > li a {
    padding-left: 50px;
    position: relative;
  }
  header.menu-open .menu-menu-1-container ul#main-menu > li > ul > li a:before {
    content: "";
    position: absolute;
    top: 10px;
    left: 20px;
    display: block;
    width: 20px;
    height: 1px;
    background-color: white;
  }
  header.menu-open .menu-menu-1-container ul#main-menu > li:first-child {
    margin-top: 100px;
    padding: 30px 0px;
  }
  header.menu-open .menu-menu-1-container ul#main-menu > li:last-child {
    border-bottom: 1px solid white;
  }
  header.menu-open .menu-menu-1-container ul#main-menu > li:nth-child(3n) ul li {
    margin-left: 0%;
  }
  header.menu-open .menu-menu-1-container:after {
    content: "";
    position: absolute;
    left: 0%;
    height: 100px;
    background-color: white;
    width: 1px;
    transform-origin: bottom left;
    width: 44%;
    background: linear-gradient(to bottom right, transparent calc(50% - 2px), white, transparent calc(50% + 2px));
  }
}
header {
  padding: 70px 1%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  z-index: 100000000000000000000;
  font-family: Futura;
}
header .header-menu-container {
  position: absolute;
  left: 30%;
  top: 60px;
}
header .adorno-menu {
  display: none;
}
#logo-anchor {
  color: #ffffff;
  text-decoration: none;
  font-family: 'Futura';
  font-size: 18px;
  font-weight: 300;
  z-index: 10;
}
#logo-anchor strong {
  font-weight: 600;
}
#mobile-menu-trigger {
  display: none;
}
@media screen and (max-width: 1315px) {
  #logo-anchor {
    max-width: 190px;
  }
}
@media screen and (max-width: 580px) {
  #logo-anchor {
    font-size: 15px;
  }
  #mobile-menu-trigger {
    z-index: 10;
    border: none;
    background-color: transparent;
    position: relative;
    display: block;
  }
  #mobile-menu-trigger div span {
    background-color: white;
  }
  #mobile-menu-trigger .mobile-menu-trigger__horizontal {
    display: flex;
    flex-direction: column;
  }
  #mobile-menu-trigger .mobile-menu-trigger__horizontal span {
    margin-bottom: 10px;
    width: 28px;
    height: 2px;
  }
  #mobile-menu-trigger .mobile-menu-trigger__horizontal span:first-of-type {
    margin-top: -1px;
  }
  #mobile-menu-trigger .mobile-menu-trigger__horizontal span:last-of-type {
    margin-bottom: 0;
  }
  #mobile-menu-trigger .mobile-menu-trigger__vertical {
    position: absolute;
    top: 1px;
    display: flex;
  }
  #mobile-menu-trigger .mobile-menu-trigger__vertical span {
    height: 24.5px;
    width: 2px;
    margin-right: 11px;
  }
  #mobile-menu-trigger .mobile-menu-trigger__vertical span:last-of-type {
    margin-right: 0;
  }
  #mobile-menu-trigger .mobile-menu-trigger__vertical span:nth-child(2n) {
    margin-right: 11px;
    transform: rotate(0deg);
    transition: transform 0.5s;
    height: 26spx;
  }
  header.menu-open .adorno-menu {
    display: block;
  }
  header.menu-open #mobile-menu-trigger .mobile-menu-trigger__vertical span:nth-child(2n) {
    transform: rotate(90deg);
    transition: transform 0.5s;
  }
  header {
    padding: 20px 1%;
    position: fixed;
    justify-content: space-between;
  }
  header .header-menu-container {
    top: 0;
    left: 0;
    width: 100%;
  }
}
.home .adorno .adorno-1 {
  animation: adorno1 2s linear;
}
@keyframes adorno1 {
  from {
    height: 0;
  }
  to {
    height: 80vh;
  }
}
.home .adorno .adorno-2 {
  animation: adorno2 2s linear;
}
@keyframes adorno2 {
  from {
    right: 75%;
  }
  to {
    right: 0;
  }
}
.home .adorno .adorno-3 {
  animation: adorno3 2s linear;
}
@keyframes adorno3 {
  from {
    height: 0;
  }
  to {
    height: 20vh;
  }
}
.adorno .adorno-1 {
  z-index: 1000000000;
  position: absolute;
  left: 25%;
  bottom: 20vh;
  background-color: white;
  width: 1px;
  height: 80vh;
}
.adorno .adorno-2 {
  z-index: 1000000000;
  position: absolute;
  top: 80vh;
  left: 25%;
  background-color: white;
  right: 0;
  height: 1px;
}
.adorno .adorno-3 {
  z-index: 1000000000;
  position: absolute;
  top: 80vh;
  left: 0;
  height: 20vh;
  background-color: white;
  width: 25%;
  background: linear-gradient(to top left, transparent calc(50% - 1px), white, transparent calc(50% + 1px));
}
.adorno-contract .adorno-contract-1 {
  z-index: 10000000000;
  position: absolute;
  left: 25%;
  top: 0;
  background-color: white;
  width: 1px;
  height: 80vh;
}
.adorno-contract .adorno-contract-2 {
  z-index: 10000000000;
  position: absolute;
  top: 80vh;
  left: 25%;
  background-color: white;
  right: 0;
  height: 1px;
}
.adorno-contract .adorno-contract-3 {
  z-index: 10000000000;
  position: absolute;
  top: 80vh;
  left: 0%;
  height: 20vh;
  width: 25%;
  background: linear-gradient(to bottom right, transparent calc(50% - 1px), white, transparent calc(50% + 1px));
}
@media screen and (max-width: 580px) {
  .adorno .adorno-1 {
    bottom: auto;
    top: 0vh;
    left: 44%;
  }
  .adorno .adorno-2 {
    left: 44%;
  }
  .adorno .adorno-3 {
    width: 44%;
  }
  .adorno-contract .adorno-contract-1 {
    left: 44%;
    height: 50vh;
  }
  .adorno-contract .adorno-contract-2 {
    left: 44%;
    top: 50vh;
  }
  .adorno-contract .adorno-contract-3 {
    width: 44%;
    top: 50vh;
  }
}
body {
  overflow: hidden;
  height: 100vh;
}
body .slick-lightbox {
  z-index: 9999999999;
}
body .slick-lightbox .slick-prev,
body .slick-lightbox .slick-arrow {
  display: none !important;
}
body .slick-lightbox .slick-lightbox-close:before {
  font-size: 34px;
}
body.single-post .carousel-page__btns-btn-description {
  width: 180px;
  word-break: break-all;
}
body #carousel-page .carousel-page__btns {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  right: 30px;
  top: 70px;
  z-index: 100000000000;
}
body #carousel-page .carousel-page__btns .carousel-page__btns-btn {
  cursor: pointer;
  position: relative;
  font-weight: 300;
  font-size: 18px;
  padding-right: 30px;
}
body #carousel-page .carousel-page__btns .carousel-page__btns-btn .carousel-page__btns-btn__symbol {
  position: absolute;
  display: block;
  left: -20px;
}
body #carousel-page .carousel-page__btns .carousel-page__btns-btn .carousel-page__btns-btn__symbol span:first-child {
  position: absolute;
  top: 7px;
  display: block;
  width: 15px;
  height: 1px;
  background-color: white;
}
body #carousel-page .carousel-page__btns .carousel-page__btns-btn .carousel-page__btns-btn__symbol span:nth-of-type(2n) {
  position: absolute;
  left: 7px;
  display: block;
  width: 1px;
  height: 15px;
  background-color: white;
  transform: rotate(90deg);
  transition: transform 0.5s;
}
body #carousel-page .carousel-page__btns .carousel-page__btns-btn .carousel-page__btns-btn__symbol--animation span:nth-of-type(2n) {
  transform: rotate(0deg);
  transition: transform 0.5s;
}
body #carousel-page .carousel-page__btns .carousel-page__btns-next-page {
  position: relative;
  display: flex;
}
body #carousel-page .carousel-page__btns .carousel-page__btns-next-page a {
  font-weight: 300;
  font-size: 18px;
  color: white;
  text-decoration: none;
}
body #carousel-page .carousel-page__btns .carousel-page__btns-next-page .carousel-page__btns-next-page__symbol {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin-left: 5px;
  margin-bottom: 2px;
}
body #carousel-page .carousel-page__btns .carousel-page__btns-next-page .carousel-page__btns-next-page__symbol span {
  background-color: white;
  width: 10px;
  height: 1px;
  display: block;
}
body #carousel-page .carousel-page__btns .carousel-page__btns-next-page .carousel-page__btns-next-page__symbol span:first-child {
  transform: rotate(27deg);
  transform-origin: bottom right;
  margin-bottom: -1px;
}
body #carousel-page .carousel-page__btns .carousel-page__btns-next-page .carousel-page__btns-next-page__symbol span:nth-of-type(2n) {
  width: 18px;
}
body #carousel-page .carousel-page__btns .carousel-page__btns-next-page .carousel-page__btns-next-page__symbol span:last-child {
  transform: rotate(-27deg);
  transform-origin: top right;
  margin-top: -1px;
}
body #carousel-page .carousel-page__btns .carousel-page__btns-btn-description {
  position: absolute;
  top: 60px;
  left: 0;
  color: white;
}
body #carousel-page .carousel-page__btns .carousel-page__btns-btn-description h2 {
  margin-bottom: 0px;
}
body #carousel-page .carousel-page__btns .carousel-page__btns-btn-description h2 ~ h2 {
  margin-bottom: 0px;
}
body #carousel-page .carousel-page__btns .carousel-page__btns-btn-description h2:last-of-type {
  margin-bottom: 10px;
}
body #carousel-page .carousel-page__btns .carousel-page__btns-btn-description p {
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
}
body #carousel-page .carousel-page__btns .carousel-page__btns-btn-description--animation,
body #carousel-page .carousel-page__btns .carousel-page__btns-btn-description--animation * {
  color: transparent;
  transition: color 0.5s;
}
body #carousel-page .slick-arrow {
  display: none !important;
}
body #carousel-page .carousel-page__carousel__img {
  height: 100vh;
  margin: 0 auto 60px auto;
  background-color: #1c1c1c;
}
body #carousel-page .carousel-page__carousel__img .carousel-page__carousel__img-item--height {
  height: 100vh !important;
}
body #carousel-page .carousel-page__carousel__img .carousel-page__carousel__img-item--zindex {
  z-index: 1 !important;
}
body #carousel-page .carousel-page__carousel__img .carousel-page__carousel__img-item {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
body #carousel-page .carousel-page__carousel__img .carousel-page__carousel__img-item iframe {
  width: 100%;
  height: 50vh;
  margin: 150px auto;
  background-color: #1c1c1c;
}
body #carousel-page .carousel-page__carousel__img .carousel-page__carousel__img-item.carousel-page__carousel__img-item--video {
  height: auto !important;
}
body #carousel-page .slick-list.draggable {
  height: auto !important;
}
body #carousel-page .carousel-page__carousel__sliders {
  z-index: 10000000 !important;
  position: absolute !important;
  left: 2%;
  top: 20%;
  width: 295px;
  transition: left 1s;
}
body #carousel-page .carousel-page__carousel__sliders .slick-next {
  display: flex !important;
  top: 73vh;
  right: -20px;
  width: 2px;
  height: 25px;
  background-color: white;
  animation: go-back 1s infinite alternate;
}
@keyframes go-back {
  from {
    transform: translateY(10px);
  }
  to {
    transform: translateY(0);
  }
}
body #carousel-page .carousel-page__carousel__sliders .slick-next:before {
  content: "";
  width: 2px;
  height: 13px;
  background-color: white;
  display: block;
  position: absolute;
  right: 0px;
  bottom: 0;
  transform: rotate(27deg);
  transform-origin: bottom right;
}
body #carousel-page .carousel-page__carousel__sliders .slick-next:after {
  content: "";
  width: 2px;
  height: 13px;
  background-color: white;
  display: block;
  position: absolute;
  left: 0px;
  bottom: 0;
  transform: rotate(-27deg);
  transform-origin: bottom right;
}
body #carousel-page .carousel-page__carousel__sliders .carousel-page__carousel__sliders-item {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 295px !important;
  width: 295px !important;
  margin-bottom: 10px;
}
body #carousel-page .carousel-page__carousel__sliders .carousel-page__carousel__sliders-item:hover:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: -1px;
  width: 100%;
  background-color: #000000;
  opacity: 0.5;
}
body #carousel-page .carousel-page__carousel__sliders .carousel-page__carousel__sliders-item iframe {
  width: 100%;
  height: 100%;
}
body #carousel-page .carousel-page__carousel__sliders.slick-slider.carousel-page__carousel__sliders--animation {
  left: -500px;
  transition: left 1s;
}
@media screen and (max-width: 580px) {
  body.projetos-template-default,
  body.post-template-default {
    overflow: auto;
  }
  body #carousel-page .carousel-page__btns {
    z-index: 0;
  }
  body #carousel-page .carousel-page__btns .carousel-page__btns-btn {
    display: none;
  }
  body #carousel-page .carousel-page__btns .carousel-page__btns-next-page {
    display: none;
  }
  body #carousel-page .carousel-page__btns .carousel-page__btns-btn-description {
    right: -30px;
    left: -165px;
    top: 14.5vh;
    z-index: 1;
  }
  body #carousel-page .carousel-page__carousel__sliders {
    position: relative !important;
    left: 0;
    width: auto;
  }
  body #carousel-page .carousel-page__carousel__sliders .carousel-page__carousel__sliders-item {
    margin-bottom: 0px !important;
    width: auto !important;
  }
  body #carousel-page .carousel-page__carousel__sliders .carousel-page__carousel__sliders-item--embed iframe {
    display: none;
    margin: 0 auto;
  }
  body #carousel-page .carousel-page__carousel__img {
    margin: 0px;
  }
  body #carousel-page .carousel-page__carousel__img .carousel-page__carousel__img-item {
    display: block;
  }
  body #carousel-page .carousel-page__carousel__img .carousel-page__carousel__img-item--video iframe {
    margin: 0 auto;
  }
  body #carousel-page .carousel-page__carousel__img .carousel-page__carousel__img-item:first-child {
    display: block;
  }
}
body {
  overflow: hidden;
  height: 100vh;
}
body #home .home__btns {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  right: 30px;
  top: 70px;
  z-index: 10000000000;
}
body #home .home__btns .home__btns-btn {
  cursor: pointer;
  position: relative;
  font-weight: 300;
  font-size: 18px;
  padding-right: 30px;
}
body #home .home__btns .home__btns-btn .home__btns-btn__symbol {
  position: absolute;
  display: block;
  left: -20px;
}
body #home .home__btns .home__btns-btn .home__btns-btn__symbol span:first-child {
  position: absolute;
  top: 7px;
  display: block;
  width: 15px;
  height: 1px;
  background-color: white;
}
body #home .home__btns .home__btns-btn .home__btns-btn__symbol span:nth-of-type(2n) {
  position: absolute;
  left: 7px;
  display: block;
  width: 1px;
  height: 15px;
  background-color: white;
  transform: rotate(0deg);
  transition: transform 0.5s;
}
body #home .home__btns .home__btns-btn .home__btns-btn__symbol--animation span:nth-of-type(2n) {
  transform: rotate(90deg);
  transition: transform 0.5s;
}
body #home .home__btns .home__btns-next-page {
  position: relative;
  display: flex;
}
body #home .home__btns .home__btns-next-page a {
  font-weight: 300;
  font-size: 18px;
  color: white;
  text-decoration: none;
}
body #home .home__btns .home__btns-next-page .home__btns-next-page__symbol {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin-left: 5px;
  margin-bottom: 2px;
}
body #home .home__btns .home__btns-next-page .home__btns-next-page__symbol span {
  background-color: white;
  width: 10px;
  height: 1px;
  display: block;
}
body #home .home__btns .home__btns-next-page .home__btns-next-page__symbol span:first-child {
  transform: rotate(27deg);
  transform-origin: bottom right;
  margin-bottom: -1px;
}
body #home .home__btns .home__btns-next-page .home__btns-next-page__symbol span:nth-of-type(2n) {
  width: 18px;
}
body #home .home__btns .home__btns-next-page .home__btns-next-page__symbol span:last-child {
  transform: rotate(-27deg);
  transform-origin: top right;
  margin-top: -1px;
}
body #home .home__btns .home__btns-btn-description {
  position: absolute;
  top: 0px;
  left: 0;
  margin-top: 30%;
  color: transparent;
  transition: color 0.5s;
}
body #home .home__btns .home__btns-btn-description h2 {
  margin-bottom: 0px;
}
body #home .home__btns .home__btns-btn-description h2 ~ h2 {
  margin-bottom: 0px;
}
body #home .home__btns .home__btns-btn-description h2:last-of-type {
  margin-bottom: 10px;
}
body #home .home__btns .home__btns-btn-description p {
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
}
body #home .home__btns .home__btns-btn-description--animation {
  color: white;
  transition: color 0.5s;
}
body #home .home__img-pb {
  position: absolute;
  top: 0;
  z-index: 1000;
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: grayscale(100%);
}
body #home .slick-arrow {
  display: none;
}
body #home .home__carousel__img {
  margin: 0 auto 60px auto;
}
body #home .home__carousel__img .slick-list {
  padding: 0 !important;
}
body #home .home__carousel__img .slick-list .home__carousel__img-item {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh !important;
}
body #home .home__carousel__img .slick-list .home__carousel__img-item .slick-slide .slick-current .slick-active {
  height: auto !important;
}
body #home .slick-list.draggable {
  height: auto !important;
}
body #home .home__carousel__sliders.slick-slider {
  z-index: 10000000;
  position: absolute !important;
  left: -500px;
  top: 20%;
  width: 295px;
  transition: left 0.5s;
}
body #home .home__carousel__sliders.slick-slider .slick-next {
  display: flex;
  top: 73vh;
  right: -20px;
  width: 1px;
  height: 25px;
  background-color: white;
  animation: go-back 1s infinite alternate;
}
@keyframes go-back {
  from {
    transform: translateY(10px);
  }
  to {
    transform: translateY(0);
  }
}
body #home .home__carousel__sliders.slick-slider .slick-next:before {
  content: "";
  width: 1px;
  height: 13px;
  background-color: white;
  display: block;
  position: absolute;
  right: 0px;
  bottom: 0;
  transform: rotate(27deg);
  transform-origin: bottom right;
}
body #home .home__carousel__sliders.slick-slider .slick-next:after {
  content: "";
  width: 1px;
  height: 13px;
  background-color: white;
  display: block;
  position: absolute;
  left: 0px;
  bottom: 0;
  transform: rotate(-27deg);
  transform-origin: bottom right;
}
body #home .home__carousel__sliders.slick-slider .slick-list .home__carousel__sliders-item {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 295px !important;
  width: 295px !important;
  margin-bottom: 10px;
}
body #home .home__carousel__sliders.slick-slider .slick-list .home__carousel__sliders-item:hover:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: -1px;
  width: 100%;
  background-color: #000000;
  opacity: 0.5;
}
body #home .home__carousel__sliders.slick-slider.home__carousel__sliders--animation {
  left: 1%;
  transition: left 0.5s;
}
@media screen and (max-width: 580px) {
  body.home {
    overflow: hidden;
  }
  body.home #home .home__btns {
    display: none;
  }
}
.page-template-page-structure {
  background-color: #1c1c1c;
  overflow: hidden;
}
.page-template-page-structure ul#main-menu > li:hover > ul {
  background-color: #1c1c1c;
}
.page-template-page-structure .page-template-page-structure__title {
  display: none;
}
.page-template-page-structure .page-template-page-structure__thumbnail-click div {
  display: none;
}
.page-template-page-structure .page-template-page-structure__thumbnail {
  position: relative;
  padding-top: 18.4vh;
  left: 1%;
}
.page-template-page-structure .page-template-page-structure__thumbnail img {
  z-index: 1;
  position: absolute;
  width: 20vw;
  height: 20vw;
}
.page-template-page-structure .page-template-page-structure__thumbnail > div {
  z-index: 2;
  position: absolute;
  background-color: #1c1c1c;
  border: 1px solid white;
  width: 20vw;
  height: 20vw;
  transition: background-color 0.5s;
}
.page-template-page-structure .page-template-page-structure__thumbnail > div span {
  display: block;
  width: 28.3vw;
  height: 1px;
  background-color: white;
  transition: width 0.5s;
}
.page-template-page-structure .page-template-page-structure__thumbnail > div span:first-of-type {
  transform-origin: bottom left;
  transform: rotate(45deg);
}
.page-template-page-structure .page-template-page-structure__thumbnail > div span:last-of-type {
  transform-origin: top left;
  transform: translate(0px, 20vw) rotate(-45deg);
}
.page-template-page-structure .page-template-page-structure__thumbnail > div:hover {
  background-color: transparent;
  transition: background-color 0.5s;
}
.page-template-page-structure .page-template-page-structure__thumbnail > div:hover span {
  width: 0;
  transition: width 0.5s;
}
.page-template-page-structure .page-template-page-structure__template-adorno > .page-template-page-structure__template-adorno-1 {
  z-index: 10000000000;
  position: absolute;
  right: 20%;
  top: 0;
  background-color: white;
  width: 1px;
  height: 80vh;
}
.page-template-page-structure .page-template-page-structure__content {
  margin-left: 25%;
  margin-right: 20%;
}
.page-template-page-structure .page-template-page-structure__content > h1,
.page-template-page-structure .page-template-page-structure__content > h2,
.page-template-page-structure .page-template-page-structure__content > h3,
.page-template-page-structure .page-template-page-structure__content > h4,
.page-template-page-structure .page-template-page-structure__content > p {
  margin-left: 12.5%;
  margin-right: 8%;
}
@media screen and (max-width: 580px) {
  .page-template-page-structure {
    overflow: auto;
    position: relative;
  }
  .page-template-page-structure header {
    background-color: #1c1c1c;
  }
  .page-template-page-structure header.menu-open ~ #page-template-page-structure .page-template-page-structure__content .adorno-contract {
    display: none;
  }
  .page-template-page-structure .page-template-page-structure__title {
    display: block;
    top: 12.5vh;
    position: absolute;
    left: 1%;
    text-transform: uppercase;
  }
  .page-template-page-structure .page-template-page-structure__thumbnail {
    margin-left: 45%;
    padding-top: 13vh;
  }
  .page-template-page-structure .page-template-page-structure__thumbnail img {
    width: 50vw;
    height: 50vw;
  }
  .page-template-page-structure .page-template-page-structure__thumbnail > div {
    width: 50vw;
    height: 50vw;
  }
  .page-template-page-structure .page-template-page-structure__thumbnail > div span {
    width: 70.3vw;
  }
  .page-template-page-structure .page-template-page-structure__thumbnail > div span:last-of-type {
    transform-origin: top left;
    transform: translate(0px, 50vw) rotate(-45deg);
  }
  .page-template-page-structure .page-template-page-structure__thumbnail:after {
    top: 13vh;
  }
  .page-template-page-structure .page-template-page-structure__template-adorno > .page-template-page-structure__template-adorno-1 {
    display: none;
  }
  .page-template-page-structure .page-template-page-structure__content {
    display: flex;
    flex-direction: column;
    padding-right: 1%;
    margin-right: 0px;
    margin-left: 0px;
  }
  .page-template-page-structure .page-template-page-structure__content > p:first-of-type {
    margin-top: 60vh;
  }
  .page-template-page-structure .page-template-page-structure__content > p {
    margin-right: 1%;
    margin-left: 1%;
  }
  .page-template-page-structure .page-template-page-structure__content .wp-block-contact-form-7-contact-form-selector {
    order: 2;
  }
  .page-template-page-structure .page-template-page-structure__content .address {
    order: 1;
  }
}
.address {
  bottom: 10vh;
  display: flex;
  align-items: center;
  padding-left: 11.6%;
  font-weight: 300;
}
.address a {
  display: block;
  color: white;
  text-decoration: none;
  font-style: normal;
  margin-right: 20px;
}
.address img {
  width: 30px;
}
@media screen and (max-width: 580px) {
  .address {
    margin-left: 47%;
    padding-left: 0;
    padding-top: 13vh;
    width: 52%;
    flex-direction: column;
    align-items: flex-end;
  }
  .address h3 {
    margin-bottom: 20px;
  }
  .address a {
    font-size: 11px !important;
    word-break: break-all;
    margin-right: 0;
  }
  .address a:nth-of-type(2n) {
    margin-top: 5px;
  }
  .address img {
    width: 25px;
    margin-bottom: 5px;
  }
}
.post-template-default #main-menu > li > ul a {
  background: #1c1c1c;
}
.publication-title {
  display: none;
}
@media screen and (max-width: 580px) {
  .publication-title {
    z-index: 10;
    display: block;
    top: 22.5vh;
    position: fixed;
    left: 1%;
    text-transform: uppercase;
  }
  .publication-title h1 {
    margin-bottom: 0;
  }
}
.post-template-default .publication-title {
  top: 14.5vh;
}
body {
  overflow: hidden;
  height: 100vh;
}
body.single-post .img-page__btns-btn-description {
  word-break: break-all;
}
body #img-page .img-page__btns {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  right: 30px;
  top: 70px;
  z-index: 100000000000;
}
body #img-page .img-page__btns .img-page__btns-btn {
  cursor: pointer;
  position: relative;
  font-weight: 600;
  font-size: 18px;
  padding-right: 30px;
}
body #img-page .img-page__btns .img-page__btns-btn .img-page__btns-btn__symbol {
  position: absolute;
  display: block;
  left: -20px;
}
body #img-page .img-page__btns .img-page__btns-btn .img-page__btns-btn__symbol span:first-child {
  position: absolute;
  top: 7px;
  display: block;
  width: 15px;
  height: 1px;
  background-color: white;
}
body #img-page .img-page__btns .img-page__btns-btn .img-page__btns-btn__symbol span:nth-of-type(2n) {
  position: absolute;
  left: 7px;
  display: block;
  width: 1px;
  height: 15px;
  background-color: white;
  transform: rotate(90deg);
  transition: transform 0.5s;
}
body #img-page .img-page__btns .img-page__btns-btn .img-page__btns-btn__symbol--animation span:nth-of-type(2n) {
  transform: rotate(0deg);
  transition: transform 0.5s;
}
body #img-page .img-page__btns .img-page__btns-next-page {
  position: relative;
  display: flex;
}
body #img-page .img-page__btns .img-page__btns-next-page a {
  font-weight: 300;
  font-size: 18px;
  color: white;
  text-decoration: none;
}
body #img-page .img-page__btns .img-page__btns-next-page .img-page__btns-next-page__symbol {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin-left: 5px;
  margin-bottom: 2px;
}
body #img-page .img-page__btns .img-page__btns-next-page .img-page__btns-next-page__symbol span {
  background-color: white;
  width: 10px;
  height: 1px;
  display: block;
}
body #img-page .img-page__btns .img-page__btns-next-page .img-page__btns-next-page__symbol span:first-child {
  transform: rotate(27deg);
  transform-origin: bottom right;
  margin-bottom: -1px;
}
body #img-page .img-page__btns .img-page__btns-next-page .img-page__btns-next-page__symbol span:nth-of-type(2n) {
  width: 18px;
}
body #img-page .img-page__btns .img-page__btns-next-page .img-page__btns-next-page__symbol span:last-child {
  transform: rotate(-27deg);
  transform-origin: top right;
  margin-top: -1px;
}
body #img-page .img-page__btns .img-page__btns-btn-description {
  position: absolute;
  top: 60px;
  left: 0;
  color: white;
}
body #img-page .img-page__btns .img-page__btns-btn-description h2 {
  margin-bottom: 0px;
}
body #img-page .img-page__btns .img-page__btns-btn-description h2 ~ h2 {
  margin-bottom: 0px;
}
body #img-page .img-page__btns .img-page__btns-btn-description h2:last-of-type {
  margin-bottom: 10px;
}
body #img-page .img-page__btns .img-page__btns-btn-description p {
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
}
body #img-page .img-page__btns .img-page__btns-btn-description--animation,
body #img-page .img-page__btns .img-page__btns-btn-description--animation * {
  color: transparent;
}
body #img-page .slick-arrow {
  display: none !important;
}
body #img-page .img-page__img__img {
  height: 100vh;
  margin: 0 auto 60px auto;
}
body #img-page .img-page__img__img .img-page__img__img-item {
  z-index: 1 !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh !important;
}
body #img-page .img-page__img__sliders {
  z-index: 10000000 !important;
  position: absolute !important;
  left: 2%;
  top: 20%;
  width: 295px;
}
body #img-page .img-page__img__sliders .slick-next {
  display: flex !important;
  top: 73vh;
  right: -20px;
  width: 2px;
  height: 25px;
  background-color: white;
  animation: go-back 1s infinite alternate;
}
@keyframes go-back {
  from {
    transform: translateY(10px);
  }
  to {
    transform: translateY(0);
  }
}
body #img-page .img-page__img__sliders .slick-next:before {
  content: "";
  width: 2px;
  height: 13px;
  background-color: white;
  display: block;
  position: absolute;
  right: 0px;
  bottom: 0;
  transform: rotate(27deg);
  transform-origin: bottom right;
}
body #img-page .img-page__img__sliders .slick-next:after {
  content: "";
  width: 2px;
  height: 13px;
  background-color: white;
  display: block;
  position: absolute;
  left: 0px;
  bottom: 0;
  transform: rotate(-27deg);
  transform-origin: bottom right;
}
body #img-page .img-page__img__sliders .img-page__img__sliders-item {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 295px !important;
  width: 295px !important;
  margin-bottom: 10px;
}
body #img-page .img-page__img__sliders .img-page__img__sliders-item:hover:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: #000000;
  opacity: 0.5;
}
@media screen and (max-width: 580px) {
  body.projetos-template-default,
  body.post-template-default {
    overflow: auto;
  }
  body #img-page .img-page__btns {
    z-index: 0;
  }
  body #img-page .img-page__btns .img-page__btns-btn {
    display: none;
  }
  body #img-page .img-page__btns .img-page__btns-next-page {
    display: none;
  }
  body #img-page .img-page__btns .img-page__btns-btn-description {
    left: -143px;
    top: 5vh;
    z-index: 1;
  }
  body #img-page .img-page__img__sliders {
    position: relative !important;
    left: 0;
    width: auto;
  }
  body #img-page .img-page__img__sliders .img-page__img__sliders-item {
    margin-bottom: 0px !important;
    width: auto !important;
  }
  body #img-page .img-page__img__img {
    margin: 0px;
  }
  body #img-page .img-page__img__img .img-page__img__img-item {
    display: none;
  }
  body #img-page .img-page__img__img .img-page__img__img-item:first-child {
    display: block;
  }
}
.wp-block-embed iframe {
  width: 100%;
}
h1,
h2,
h3,
h4,
p {
  font-family: 'Futura';
}
h1 {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 10px;
}
h2 {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 10px;
}
p {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 15px;
}
body,
a {
  color: #ffffff;
  font-family: "Futura";
}
@media screen and (max-width: 580px) {
  a {
    font-size: 14px;
  }
  h1 {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px;
  }
  h2 {
    font-weight: 300;
  }
}
@font-face {
  font-family: Futura;
  src: url('../resources/font/futura-light-bt.ttf') format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: Futura;
  src: url('../resources/font/futura-medium-bt.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: Futura;
  src: url('../resources/font/Futura-Heavy-font.ttf') format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: Futura;
  src: url('../resources/font/Futura-Heavy-font.ttf') format('opentype');
  text-decoration: italic;
}
#wpadminbar {
  z-index: 1000000000000000000 !important;
}
.structure-justify-start {
  justify-content: flex-start !important;
}
.structure-text-left {
  text-align: left !important;
}
.link-list {
  margin-right: -5%;
}
.link-list .link-list__item {
  margin-bottom: 15px;
}
.link-list .link-list__item h3 {
  margin-bottom: 0px;
  margin-right: 5px;
}
.link-list .link-list__item a {
  display: flex;
  justify-content: safe flex-end;
  align-items: center;
  text-decoration: none;
  font-size: 24px;
}
.link-list .link-list__item a:hover {
  text-decoration: underline;
  text-decoration-color: inherit;
}
.link-list .link-list__item a:hover h3 {
  text-decoration: underline;
  text-decoration-color: inherit;
}
@media screen and (max-width: 580px) {
  .link-list .link-list__item a {
    font-size: 16px;
  }
}
.gallery {
  display: flex;
  flex-direction: column;
}
.gallery .gallery__destak {
  margin-bottom: 2px;
}
.gallery .gallery__items {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
}
.gallery .gallery__items img {
  cursor: pointer;
  width: 178px;
  margin-right: 2px;
  margin-bottom: 2px;
}
@media screen and (max-width: 580px) {
  .gallery .gallery__items img {
    width: 94px;
  }
}
footer {
  display: none;
}
form.wpcf7-form {
  padding-top: 18.4vh;
}
form.wpcf7-form p.title {
  padding-left: 12.5%;
  margin-bottom: 20px;
  font-size: 18px;
  font-family: 'Futura', sans-serif;
  font-weight: 300;
}
form.wpcf7-form p {
  margin-bottom: 0px;
}
form.wpcf7-form label {
  height: 32px;
}
form.wpcf7-form input,
form.wpcf7-form textarea {
  border: none;
  background-color: #1c1c1c;
  color: white;
  padding: 1vh 0px 1vh 12%;
  font-size: 18px;
  font-family: 'Futura', sans-serif;
  font-weight: 300;
  border: 1px solid white;
  width: 87.6%;
  border-radius: 0;
}
form.wpcf7-form input::placeholder {
  color: white;
}
form.wpcf7-form textarea::placeholder {
  color: white;
}
form.wpcf7-form textarea {
  height: 17.5vh;
}
form.wpcf7-form input[type="submit"] {
  width: auto;
  margin-top: -5px;
  padding: 1vh 0px 1vh 12%;
  background-color: transparent;
  font-size: 18px;
  width: 100%;
  font-weight: 300;
  text-align: left;
}
form.wpcf7-form input:-webkit-autofill,
form.wpcf7-form input:-webkit-autofill:hover,
form.wpcf7-form input:-webkit-autofill:focus,
form.wpcf7-form input:-webkit-autofill:active {
  -webkit-transition-delay: 99999s;
  background-color: #1c1c1c;
}
@media screen and (max-width: 580px) {
  form.wpcf7-form {
    margin-right: -1%;
    margin-top: 28vh;
  }
  form.wpcf7-form p.title {
    padding-left: 1%;
  }
  form.wpcf7-form input,
  form.wpcf7-form textarea {
    padding-left: 1%;
    width: 98.3%;
  }
  form.wpcf7-form input[type="submit"] {
    padding-left: 1%;
  }
}
@-ms-viewport {
  width: device-width;
}
