/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
b,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ul#main-menu {
  display: flex;
  position: relative;
}
ul#main-menu a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 18px;
  font-family: "Futura";
}
ul#main-menu > li {
  padding: 10px 20px;
}
ul#main-menu > li > ul {
  display: none;
}
ul#main-menu > li:first-child {
  padding: 10px 20px 10px 0px;
}
ul#main-menu > li:hover > a {
  font-style: italic;
}
ul#main-menu > li:hover > ul {
  padding-top: 20px;
  position: absolute;
  left: 0;
  right: 0;
  display: block;
}
ul#main-menu > li:hover > ul > li {
  white-space: nowrap;
  padding: 10px 20px 10px 0px;
}
@media screen and (max-width: 580px) {
  ul#main-menu {
    display: none;
  }
  header.menu-open {
    background-color: #1c1c1c;
  }
  header.menu-open ul#main-menu {
    position: absolute;
    left: 0;
    right: 0;
    top: 55px;
    min-height: 100vh;
    margin-left: 0;
    display: block;
    flex-direction: column;
    background-color: #1c1c1c;
  }
}
header {
  padding: 70px 1%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  z-index: 1000000000;
  font-family: Futura;
}
header .header-menu-container {
  position: absolute;
  left: 31.8%;
  top: 60px;
}
#logo-anchor {
  color: #ffffff;
  text-decoration: none;
  font-family: 'Futura';
  font-size: 18px;
  font-weight: 300;
}
#logo-anchor strong {
  font-weight: 600;
}
#mobile-menu-trigger {
  display: none;
}
@media screen and (max-width: 1315px) {
  #logo-anchor {
    max-width: 190px;
  }
}
@media screen and (max-width: 580px) {
  #mobile-menu-trigger {
    border: none;
    background-color: transparent;
    position: relative;
    display: block;
  }
  #mobile-menu-trigger div span {
    background-color: white;
  }
  #mobile-menu-trigger .mobile-menu-trigger__horizontal {
    display: flex;
    flex-direction: column;
  }
  #mobile-menu-trigger .mobile-menu-trigger__horizontal span {
    margin-bottom: 12px;
    width: 28px;
    height: 2px;
  }
  #mobile-menu-trigger .mobile-menu-trigger__horizontal span:last-of-type {
    margin-bottom: 0;
  }
  #mobile-menu-trigger .mobile-menu-trigger__vertical {
    position: absolute;
    top: 1px;
    display: flex;
  }
  #mobile-menu-trigger .mobile-menu-trigger__vertical span {
    height: 30px;
    width: 2px;
    margin-right: 12px;
  }
  #mobile-menu-trigger .mobile-menu-trigger__vertical span:first-of-type {
    margin-left: -1px;
  }
  #mobile-menu-trigger .mobile-menu-trigger__vertical span:last-of-type {
    margin-right: 0;
  }
  #mobile-menu-trigger .mobile-menu-trigger__vertical span:nth-child(2n) {
    margin-right: 13px;
    transform: rotate(0deg);
    transition: transform 0.5s;
  }
  header.menu-open #mobile-menu-trigger .mobile-menu-trigger__vertical span:nth-child(2n) {
    transform: rotate(90deg);
    transition: transform 0.5s;
  }
  header {
    padding: 20px;
  }
}
.adorno .adorno-1 {
  z-index: 10000000000;
  position: absolute;
  left: 25%;
  top: 0;
  background-color: white;
  width: 1px;
  height: 80vh;
}
.adorno .adorno-2 {
  z-index: 10000000000;
  position: absolute;
  top: 80vh;
  left: 25%;
  background-color: white;
  right: 0;
  height: 1px;
}
.adorno .adorno-3 {
  z-index: 10000000000;
  position: absolute;
  top: 80vh;
  left: 25%;
  height: 1000px;
  background-color: white;
  width: 1px;
  transform-origin: top right;
}
body {
  overflow: hidden;
  height: 100vh;
}
body #carousel-page .carousel-page__btns {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  right: 30px;
  top: 70px;
  z-index: 100000000000;
}
body #carousel-page .carousel-page__btns .carousel-page__btns-btn {
  cursor: pointer;
  position: relative;
  font-weight: 300;
  font-size: 18px;
  padding-right: 30px;
}
body #carousel-page .carousel-page__btns .carousel-page__btns-btn .carousel-page__btns-btn__symbol {
  position: absolute;
  display: block;
  left: -20px;
}
body #carousel-page .carousel-page__btns .carousel-page__btns-btn .carousel-page__btns-btn__symbol span:first-child {
  position: absolute;
  top: 7px;
  display: block;
  width: 15px;
  height: 1px;
  background-color: white;
}
body #carousel-page .carousel-page__btns .carousel-page__btns-btn .carousel-page__btns-btn__symbol span:nth-of-type(2n) {
  position: absolute;
  left: 7px;
  display: block;
  width: 1px;
  height: 15px;
  background-color: white;
}
body #carousel-page .carousel-page__btns .carousel-page__btns-next-page {
  position: relative;
  display: flex;
}
body #carousel-page .carousel-page__btns .carousel-page__btns-next-page a {
  font-weight: 300;
  font-size: 18px;
  color: white;
  text-decoration: none;
}
body #carousel-page .carousel-page__btns .carousel-page__btns-next-page .carousel-page__btns-next-page__symbol {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin-left: 5px;
  margin-bottom: 2px;
}
body #carousel-page .carousel-page__btns .carousel-page__btns-next-page .carousel-page__btns-next-page__symbol span {
  background-color: white;
  width: 10px;
  height: 1px;
  display: block;
}
body #carousel-page .carousel-page__btns .carousel-page__btns-next-page .carousel-page__btns-next-page__symbol span:first-child {
  transform: rotate(27deg);
  transform-origin: bottom right;
  margin-bottom: -1px;
}
body #carousel-page .carousel-page__btns .carousel-page__btns-next-page .carousel-page__btns-next-page__symbol span:nth-of-type(2n) {
  width: 18px;
}
body #carousel-page .carousel-page__btns .carousel-page__btns-next-page .carousel-page__btns-next-page__symbol span:last-child {
  transform: rotate(-27deg);
  transform-origin: top right;
  margin-top: -1px;
}
body #carousel-page .carousel-page__btns .carousel-page__btns-btn-description {
  position: absolute;
  top: 60px;
  left: 0;
  color: white;
}
body #carousel-page .carousel-page__btns .carousel-page__btns-btn-description h2 {
  margin-bottom: 0px;
}
body #carousel-page .carousel-page__btns .carousel-page__btns-btn-description h2 ~ h2 {
  margin-bottom: 0px;
}
body #carousel-page .carousel-page__btns .carousel-page__btns-btn-description h2:last-of-type {
  margin-bottom: 10px;
}
body #carousel-page .carousel-page__btns .carousel-page__btns-btn-description p {
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
}
body #carousel-page .slick-arrow {
  display: none !important;
}
body #carousel-page .carousel-page__carousel__img {
  height: 100vh;
  margin: 0 auto 60px auto;
}
body #carousel-page .carousel-page__carousel__img .carousel-page__carousel__img-item {
  z-index: 1 !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh !important;
}
body #carousel-page .carousel-page__carousel__sliders {
  z-index: 10000000 !important;
  position: absolute !important;
  left: 2%;
  top: 20%;
  width: 295px;
}
body #carousel-page .carousel-page__carousel__sliders .slick-next {
  display: flex !important;
  top: 73vh;
  right: -20px;
  width: 2px;
  height: 25px;
  background-color: white;
  animation: go-back 1s infinite alternate;
}
@keyframes go-back {
  from {
    transform: translateY(10px);
  }
  to {
    transform: translateY(0);
  }
}
body #carousel-page .carousel-page__carousel__sliders .slick-next:before {
  content: "";
  width: 2px;
  height: 13px;
  background-color: white;
  display: block;
  position: absolute;
  right: 0px;
  bottom: 0;
  transform: rotate(27deg);
  transform-origin: bottom right;
}
body #carousel-page .carousel-page__carousel__sliders .slick-next:after {
  content: "";
  width: 2px;
  height: 13px;
  background-color: white;
  display: block;
  position: absolute;
  left: 0px;
  bottom: 0;
  transform: rotate(-27deg);
  transform-origin: bottom right;
}
body #carousel-page .carousel-page__carousel__sliders .carousel-page__carousel__sliders-item {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 295px !important;
  width: 295px !important;
  margin-bottom: 10px;
}
body #carousel-page .carousel-page__carousel__sliders .carousel-page__carousel__sliders-item:hover:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: #000000;
  opacity: 0.5;
}
body {
  overflow: hidden;
}
body #home .home__btns {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  right: 30px;
  top: 70px;
  z-index: 100000000000;
}
body #home .home__btns .home__btns-btn {
  cursor: pointer;
  position: relative;
  font-weight: 300;
  font-size: 18px;
  padding-right: 30px;
}
body #home .home__btns .home__btns-btn .home__btns-btn__symbol {
  position: absolute;
  display: block;
  left: -20px;
}
body #home .home__btns .home__btns-btn .home__btns-btn__symbol span:first-child {
  position: absolute;
  top: 7px;
  display: block;
  width: 15px;
  height: 1px;
  background-color: white;
}
body #home .home__btns .home__btns-btn .home__btns-btn__symbol span:nth-of-type(2n) {
  position: absolute;
  left: 7px;
  display: block;
  width: 1px;
  height: 15px;
  background-color: white;
}
body #home .home__btns .home__btns-next-page {
  position: relative;
  display: flex;
}
body #home .home__btns .home__btns-next-page a {
  font-weight: 300;
  font-size: 18px;
  color: white;
  text-decoration: none;
}
body #home .home__btns .home__btns-next-page .home__btns-next-page__symbol {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin-left: 5px;
  margin-bottom: 2px;
}
body #home .home__btns .home__btns-next-page .home__btns-next-page__symbol span {
  background-color: white;
  width: 10px;
  height: 1px;
  display: block;
}
body #home .home__btns .home__btns-next-page .home__btns-next-page__symbol span:first-child {
  transform: rotate(27deg);
  transform-origin: bottom right;
  margin-bottom: -1px;
}
body #home .home__btns .home__btns-next-page .home__btns-next-page__symbol span:nth-of-type(2n) {
  width: 18px;
}
body #home .home__btns .home__btns-next-page .home__btns-next-page__symbol span:last-child {
  transform: rotate(-27deg);
  transform-origin: top right;
  margin-top: -1px;
}
body #home .home__btns .home__btns-btn-description {
  position: absolute;
  top: 0px;
  left: 0;
  margin-top: 30%;
  color: transparent;
}
body #home .home__btns .home__btns-btn-description h2 {
  margin-bottom: 0px;
}
body #home .home__btns .home__btns-btn-description h2 ~ h2 {
  margin-bottom: 0px;
}
body #home .home__btns .home__btns-btn-description h2:last-of-type {
  margin-bottom: 10px;
}
body #home .home__btns .home__btns-btn-description p {
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
}
body #home .home__img-pb {
  position: absolute;
  top: 0;
  z-index: 1000000;
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: grayscale(100%);
}
body #home .slick-arrow {
  display: none;
}
body #home .home__carousel__img {
  z-index: 1000;
  margin: 0 auto 60px auto;
}
body #home .home__carousel__img .slick-list {
  padding: 0 !important;
}
body #home .home__carousel__img .slick-list .home__carousel__img-item {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh !important;
}
body #home .home__carousel__img .slick-list .home__carousel__img-item .slick-slide .slick-current .slick-active {
  height: 100vh !important;
}
body #home .home__carousel__sliders.slick-slider {
  z-index: 10000000;
  position: absolute !important;
  left: -600px;
  top: 20%;
  width: 295px;
}
body #home .home__carousel__sliders.slick-slider .slick-next {
  display: flex;
  top: 73vh;
  right: -20px;
  width: 1px;
  height: 25px;
  background-color: white;
  animation: go-back 1s infinite alternate;
}
@keyframes go-back {
  from {
    transform: translateY(10px);
  }
  to {
    transform: translateY(0);
  }
}
body #home .home__carousel__sliders.slick-slider .slick-next:before {
  content: "";
  width: 1px;
  height: 13px;
  background-color: white;
  display: block;
  position: absolute;
  right: 0px;
  bottom: 0;
  transform: rotate(27deg);
  transform-origin: bottom right;
}
body #home .home__carousel__sliders.slick-slider .slick-next:after {
  content: "";
  width: 1px;
  height: 13px;
  background-color: white;
  display: block;
  position: absolute;
  left: 0px;
  bottom: 0;
  transform: rotate(-27deg);
  transform-origin: bottom right;
}
body #home .home__carousel__sliders.slick-slider .slick-list .home__carousel__sliders-item {
  cursor: pointer;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 295px !important;
  width: 295px !important;
  margin-bottom: 10px;
}
body #home .home__carousel__sliders.slick-slider .slick-list .home__carousel__sliders-item:hover:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: #000000;
  opacity: 0.5;
}
.page-template-page-structure {
  background-color: #1c1c1c;
  overflow: hidden;
}
.page-template-page-structure ul#main-menu > li:hover > ul {
  left: -12%;
  right: -8%;
  background-color: #1c1c1c;
}
.page-template-page-structure ul#main-menu > li:hover > ul li {
  padding-left: 10%;
}
.page-template-page-structure .page-template-page-structure__thumbnail {
  position: absolute;
  padding-top: 18.4vh;
  left: 1%;
}
.page-template-page-structure .page-template-page-structure__thumbnail img {
  width: 20vw;
  height: auto;
}
.page-template-page-structure .page-template-page-structure__thumbnail:after {
  content: "";
  position: absolute;
  display: block;
  top: 18.4vh;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: #1c1c1c;
  opacity: 1;
  border: 1px white solid;
}
.page-template-page-structure .page-template-page-structure__thumbnail:hover:after {
  opacity: 0;
  transition: opacity 1;
}
.page-template-page-structure .page-template-page-structure__template-adorno > .page-template-page-structure__template-adorno-1 {
  z-index: 10000000000;
  position: absolute;
  right: 20%;
  top: 0;
  background-color: white;
  width: 1px;
  height: 80vh;
}
.page-template-page-structure .page-template-page-structure__content {
  margin-left: 25%;
  padding-top: 18.4vh;
  margin-right: 20%;
}
.page-template-page-structure .page-template-page-structure__content > h1,
.page-template-page-structure .page-template-page-structure__content > h2,
.page-template-page-structure .page-template-page-structure__content > h3,
.page-template-page-structure .page-template-page-structure__content > h4,
.page-template-page-structure .page-template-page-structure__content > p {
  margin-left: 12.5%;
  margin-right: 8%;
}
.address {
  position: absolute;
  bottom: 10vh;
  display: flex;
  justify-content: space-between;
  padding-left: 6.6%;
  width: 48%;
  font-style: italic;
  font-weight: 300;
}
.address div a {
  color: white;
  text-decoration: none;
  font-style: normal;
}
.address div a:first-of-type {
  margin-right: 10px;
}
.wp-block-embed iframe {
  width: 100%;
}
h1,
h2,
h3,
h4,
p {
  font-family: 'Futura', sans-serif;
}
h1 {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 10px;
}
h2 {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 10px;
}
p {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 15px;
}
body {
  color: #ffffff;
  font-family: "Futura";
}
@font-face {
  font-family: "Futura";
  src: url('../resources/font/Futura light bt.ttf') format('opentype');
  font-weight: 300;
}
@font-face {
  font-family: "Futura";
  src: url('../resources/font/Futura-ttc') format('opentype');
  font-weight: 500;
}
@font-face {
  font-family: "Futura";
  src: url('../resources/font/Futura Heavy font.ttf') format('opentype');
  font-weight: 600;
}
@font-face {
  font-family: "Futura";
  src: url('../resources/font/Futura Heavy font.ttf') format('opentype');
  text-decoration: italic;
}
@font-face {
  font-family: MinionPro-Regular;
  src: url('../resources/font/MinionPro-Regular.otf') format('opentype');
}
@font-face {
  font-family: CircularStd-Medium;
  src: url('../resources/font/CircularStd-Medium.otf') format('opentype');
}
@font-face {
  font-family: Arial;
  src: url('../resources/font/arial.ttf') format('opentype');
}
#wpadminbar {
  z-index: 1000000000000000000 !important;
}
.structure-justify-start {
  justify-content: flex-start !important;
}
.structure-text-left {
  text-align: left !important;
}
.link-list {
  margin-right: -5%;
}
.link-list .link-list__item {
  margin-bottom: 15px;
}
.link-list .link-list__item h3 {
  margin-bottom: 0px;
  margin-right: 5px;
}
.link-list .link-list__item a {
  display: flex;
  justify-content: safe flex-end;
  align-items: center;
  text-decoration: none;
  font-size: 24px;
}
.link-list .link-list__item a:hover {
  text-decoration: underline;
  text-decoration-color: inherit;
}
.link-list .link-list__item a:hover h3 {
  text-decoration: underline;
  text-decoration-color: inherit;
}
@media screen and (max-width: 580px) {
  .link-list .link-list__item a {
    font-size: 16px;
  }
}
.gallery {
  display: flex;
  flex-direction: column;
}
.gallery .gallery__destak {
  margin-bottom: 2px;
}
.gallery .gallery__items {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
}
.gallery .gallery__items img {
  cursor: pointer;
  width: 178px;
  margin-right: 2px;
  margin-bottom: 2px;
}
@media screen and (max-width: 580px) {
  .gallery .gallery__items img {
    width: 94px;
  }
}
footer {
  display: none;
}
form.wpcf7-form p.title {
  padding-left: 12.5%;
  margin-bottom: 20px;
  font-size: 18px;
  font-family: 'Futura', sans-serif;
  font-weight: 300;
}
form.wpcf7-form p {
  margin-bottom: 0px;
}
form.wpcf7-form label {
  height: 32px;
}
form.wpcf7-form input,
form.wpcf7-form textarea {
  border: none;
  background-color: #1c1c1c;
  color: white;
  padding: 1vh 0px 1vh 12%;
  font-size: 18px;
  font-family: 'Futura', sans-serif;
  font-weight: 300;
  border: 1px solid white;
  width: 87.6%;
}
form.wpcf7-form input::placeholder {
  color: white;
}
form.wpcf7-form textarea::placeholder {
  color: white;
}
form.wpcf7-form textarea {
  height: 17.5vh;
}
form.wpcf7-form input[type="submit"] {
  width: auto;
  margin-top: -5px;
  padding: 1vh 0px 1vh 12%;
  background-color: transparent;
  font-size: 18px;
  width: 100%;
  font-weight: 300;
  text-align: left;
}
@-ms-viewport {
  width: device-width;
}
