.home {
	.adorno {
		.adorno-1 {
			animation: adorno1 2s linear;

			@keyframes adorno1 {
			  from {
			    height: 0;
			  }
			  to {
			    height: @heightadorno;
			  }
			}
		}
		.adorno-2 {
			animation: adorno2 2s linear;
			@keyframes adorno2 {
			  from {
			    right: 75%;
			  }
			  to {
			    right: 0;
			  }
			}
		}
		.adorno-3 {
			animation: adorno3 2s linear;
			@keyframes adorno3 {
			  from {
			    height: 0;
			  }
			  to {
			    height: 20vh;
			  }
			}
		}
	}
}
.adorno {
	.adorno-1 {
		z-index: 1000000000;
		position: absolute;
		left: 25%;
		// top: 0;
		bottom: 20vh;
		background-color: white;
		width: 1px;
		height: @heightadorno;
	}
	.adorno-2 {
		z-index: 1000000000;
		position: absolute;
		top: @heightadorno;
		left: 25%;
		background-color: white;
		right: 0;
		height: 1px;
	}
	.adorno-3 {
		z-index: 1000000000;
		position: absolute;
		top: @heightadorno;
		left: 0;
		// height: 1000px;
		height: 20vh;
		background-color: white;
		width: 25%;
    // transform-origin: top right;
    background: linear-gradient(to top left, transparent  calc(50% - 1px), white, transparent calc(50% + 1px) )
	}
}


.adorno-contract {
	.adorno-contract-1 {
		z-index: 10000000000;
		position: absolute;
		left: 25%;
		top: 0;
		background-color: white;
		width: 1px;
		height: @heightadorno;
	}
	.adorno-contract-2 {
		z-index: 10000000000;
		position: absolute;
		top: @heightadorno;
		left: 25%;
		background-color: white;
		right: 0;
		height: 1px;
	}
		.adorno-contract-3 {
		z-index: 10000000000;
		position: absolute;
		// bottom: 0;
		top: @heightadorno;
		left: 0%;
		// left: 0;
		height: 20vh;
		// background-color: white;
		// width: 1px;
		// transform-origin: bottom left;
		// transform: rotate(45deg);
		width:25%;
		background: linear-gradient(to bottom right, transparent  calc(50% - 1px), white, transparent calc(50% + 1px) )
	}
}
@media screen and (max-width: @screen-sm) {
	.adorno {

		.adorno-1 {
			left: @widthadorno;
			bottom: 8vh;
		}
		.adorno-2 {
			left: @widthadorno;
		}
		.adorno-3 {
			width: @widthadorno;
		}
	}
	.adorno-contract {
		.adorno-contract-1{
			left: @widthadorno;
			height: @heightadorno-contract;

		}
		.adorno-contract-2{
			left: @widthadorno;
			top: @heightadorno-contract;
		}
		.adorno-contract-3{
			width: @widthadorno;
			top: @heightadorno-contract;
		}
	}
}



// @media screen and (max-width: 1315px) {
// 	.adorno {
// 		.adorno-1 {
// 			left: 20%
// 		}
// 		.adorno-2 {
// 			left: 20%
// 		}
// 		.adorno-3 {
// 			width: 20%;
// 		}
// 	}
// }
// @media screen and (max-width: 950px) {
// 	.adorno {
// 		.adorno-1 {
// 			left: 27%
// 		}
// 		.adorno-2 {
// 			left: 27%
// 		}
// 		.adorno-3 {
// 			width: 27%;
// 		}
// 	}
// }
