form.wpcf7-form  {
	// padding-left: 25%;
	// padding-top: 80px;
	// width: 87.6%;

	p.title {
		padding-left: 12.5%;
		margin-bottom: 20px;
		font-size: 18px;
		font-family: 'Futura', sans-serif;
		font-weight: 300;
	}
	p {
		margin-bottom: 0px;
	}
	label {
		height: 32px;
	}
	input, textarea {
		border: none;
		background-color: #1c1c1c;
		color: white;
		padding: 1vh 0px 1vh 12%;
		font-size: 18px;
		font-family: 'Futura', sans-serif;
		font-weight: 300;
		border: 1px solid white;
		width: 87.6%
	}
	input::placeholder {
		color: white;
		// padding-left: 10%;
	}
	textarea::placeholder {
		color: white;
		// padding-left: 10%;
	}
	textarea {
		height: 17.5vh;
	}
	input[type="submit"] {
		width: auto;
		margin-top: -5px;
    padding: 1vh 0px 1vh 12%;
    background-color: transparent;
    font-size: 18px;
    width: 100%;
    font-weight: 300;
    text-align: left
	}
}
