@import './structure.less';


header {
	padding: 70px 1%;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	display: flex;
	align-items: center;
	z-index: 100000000000000000000;
	font-family: Futura;

	.header-menu-container {
		position: absolute;
		left: 30%;
		top: 60px;
	}
	.adorno-menu {
		display: none;
	}
}
#logo-anchor {
	color: #ffffff;
	text-decoration: none;
	font-family: 'Futura';
	font-size: 18px;
	font-weight: 300;
	z-index: 10;
	strong {
		// font-family: 'Futura';

		font-weight: 600;
	}

}
#mobile-menu-trigger {
	display: none;
}

@media screen and (max-width: 1315px) {
	#logo-anchor {
		max-width: 190px;
	}
}

@media screen and (max-width: @screen-sm) {
	#logo-anchor {
		font-size: 15px;
	}
	#mobile-menu-trigger {
		z-index: 10;
		border: none;
		background-color: transparent;
		position: relative;
		display: block;
		div {
			span {
				background-color: white;
			}
		}
		.mobile-menu-trigger__horizontal {
			display: flex;
			flex-direction: column;

			span {
				margin-bottom: 10px;
				width: 28px;
				height: 2px;
			}
			span:first-of-type {
				margin-top: -1px;
			}
			span:last-of-type {
				margin-bottom: 0;
			}
		}
		.mobile-menu-trigger__vertical {
			position: absolute;
			top: 1px;
			display: flex;
			span {
				height: 24.5px;
				width: 2px;
				margin-right: 11px;
			}
			span:first-of-type {
				// margin-left: -0.5px;
			}
			span:last-of-type {
				margin-right: 0;
			}
			span:nth-child(2n) {
				margin-right: 11px;
				transform: rotate(0deg);
				transition: transform 0.5s;
				height: 26spx;
			}
		}
	}
	header.menu-open {
		.adorno-menu {
			display: block;
		}
		#mobile-menu-trigger	{
			.mobile-menu-trigger__vertical	{
				span:nth-child(2n) {
					transform: rotate(90deg);
					transition: transform 0.5s;
				}
			}
		}
	}
	header {
		padding: 20px 1%;
		position: fixed;
		justify-content: space-between;
		.header-menu-container{
			top: 0;
			left: 0;
			width: 100%;

		}
	}
}
