.page-template-page-structure {
	background-color: @grey;
	overflow: hidden;
	ul#main-menu {
		> li:hover {
			> ul {
				// left: -12%;
				// right: -8%;
				background-color: @grey;
				li {
					// padding-left: 10%;
				}
			}
		}
	} 
	.page-template-page-structure__title {
		display: none;
	}
	.page-template-page-structure__thumbnail-click {
		div {
			display: none;
		}
	}
	.page-template-page-structure__thumbnail{
		position: relative;
		padding-top: 18.4vh;
		left: 1%;
		img{
			z-index: 1;
			position: absolute;
			width: 20vw;
			height: 20vw;
		}
		> div {
			z-index: 2;
			position: absolute;
			background-color: @grey;
			border: 1px solid white;
			width: 20vw;
			height: 20vw;
			transition: background-color 0.5s;
			span {
				display: block;
				width: 28.3vw;
				height: 1px;
				background-color: white;
				transition: width 0.5s;
			}
			span:first-of-type {
				transform-origin: bottom left;
				transform: rotate(45deg);
			}
			span:last-of-type {
				transform-origin: top left;
				transform: translate(	0px, 20vw) rotate(-45deg)
			}
			&:hover {
				background-color: transparent;
				transition: background-color 0.5s;
				span {
					width: 0;
					transition: width 0.5s;
				}
			}
		}
		// &:after {
		// 	content: "";
		// 	position: absolute;
		// 	display: block;
		// 	top:18.4vh;
		// 	left: 0;
		// 	bottom: 0;
		// 	right: 0;
		// 	width: 100%;
		// 	background-color: @grey;
		// 	opacity: 1;
		// 	border: 1px white solid;
		// }
		// &:hover {
		// 	&:after {
		// 		opacity: 0;
		// 		transition: opacity 1;
		// 	}
		// }

	}
 	.page-template-page-structure__template-adorno {
		> .page-template-page-structure__template-adorno-1 {
			z-index: 10000000000;
			position: absolute;
			right: 20%;
			top: 0;
			background-color: white;
			width: 1px;
			height: @heightadorno;
		}
	}
	.page-template-page-structure__content {
		margin-left: 25%;
		// padding-top: 18.4vh;
		margin-right: 20%;

		> h1, 
		> h2, 
		> h3,
		> h4,
		> p {
			margin-left: 12.5%;
			margin-right: 8%;
		}
	}
}
@media screen and (max-width: @screen-sm) {
	.page-template-page-structure {
		overflow: auto;
		position: relative;
		header {
			background-color: @grey;
		}
		header.menu-open ~ #page-template-page-structure .page-template-page-structure__content .adorno-contract{
			display: none;
		}
		.page-template-page-structure__title {
			display: block;
			top: 12.5vh;
			position: absolute;
			left: 1%;
			text-transform: uppercase;
		}
		.page-template-page-structure__thumbnail {
			margin-left: 45%;
			padding-top: 13vh;
			img {
				width: 50vw;
				height: 50vw;
			}
			> div {
				width: 50vw;
				height: 50vw;
				span {
					width: 70.3vw;
				}
				span:last-of-type {
					transform-origin: top left;
					transform: translate(	0px, 50vw) rotate(-45deg)
				}
			}
			&:after {
				top: 13vh;
			}
		}
		.page-template-page-structure__template-adorno {
			> .page-template-page-structure__template-adorno-1 {
				display: none;
			}
		}
		.page-template-page-structure__content {
			display: flex;
			flex-direction: column;
			padding-right: 1%;
			margin-right: 0px;
			margin-left: 0px;

			> p:first-of-type {
				margin-top: 60vh;
			}
			> p {
				margin-right: 1%;
				margin-left: 1%
			}
			///////////inverte a ordem no mobile
			.wp-block-contact-form-7-contact-form-selector {
				order: 2;
			}
			.address {
				order: 1;
			}
		}
	}
}