//media sizes
@max-mobile: 600px;
@screen-xxl: 1800px;
@screen-xl: 1799px;
@screen-lg: 1499px;
@screen-md: 1250px; 
@screen-sm: 580px;
@screen-xxs: 400px;


//color
@grey: #1c1c1c;
@heightadorno: 80vh;
@heightadorno-contract: 50vh;
@widthadorno: 44%;

//FONT

@font-face {
  font-family: Futura;
  src: url('../resources/font/futura-light-bt.ttf') format('truetype');
  font-weight: 300; 
}
@font-face {
  font-family: Futura;
  src: url('../resources/font/futura-medium-bt.ttf') format('truetype');
  font-weight: 500; 
}
@font-face {
  font-family: Futura;
  src: url('../resources/font/Futura-Heavy-font.ttf') format('truetype');
  font-weight: 600; 
}
@font-face {
  font-family: Futura;
  src: url('../resources/font/Futura-Heavy-font.ttf') format('opentype');
  text-decoration: italic;
}


//admin
#wpadminbar {
  z-index: 1000000000000000000 !important;
}

//Columns
.structure-justify-start {
	justify-content: flex-start !important;
}
.structure-text-left {
	text-align: left !important;
}
